* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-top-right-radius: 20px;
  font-family: 'Cinzel', serif;
}

body {
  background-color: #dfe9f5;
}

.wrapper {
  width: 90%; /* change fixed width to a relative value */
  max-width: 600px; /* set maximum width for larger screens */
  padding: 2rem 1em;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 20 30px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
  color: #0f1114;
  border-top-right-radius: 20px;
  font-family: 'Cinzel', serif;
}

form input {
  width: 92%;
  outline: none;
  border: 1px solid #fff;
  padding: 1em; /* change fixed padding to a relative value */
  margin-bottom: 10px;
  border-radius: 20px;
  background: #e4e4e4;
  font-size: 1rem; /* change fixed font size to a relative value */
}

button {
  font-size: 1rem;
  margin-top: 1.8rem;
  padding: 10px 0px;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 90%;
  color: #fff;
  cursor: pointer;
  background: rgb(17, 107, 143);
  border-top-right-radius: 20px;
  font-family: 'Cinzel', serif;
}

button:hover {
  background: rgb(17, 187, 143, 0.877);
}

input:focus {
  border: 1px solid rgb(192, 192, 192);
}

.terms {
  margin-top: 0.2rem;
}

.terms input {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  cursor: pointer;
}

.terms label {
  font-size: 0.7rem;
}

.terms a {
  color: rgb(17, 187, 143);
  text-decoration: none;
}


.member {
  margin-top: 1.4rem;
  font-size: 0.8rem;
  columns: #636363;
}

.member a {
  color: rgb(17, 107, 143);
  text-decoration: none;
}

.recover {
  text-align: right;
  font-size: 0.7rem;
  margin: 0.3rem 1.4rem 0 0;
}

.recover a {
  text-decoration: none;
  color: #464647;
}

h1 {
  text-align: center;
  padding-top: 15px;
}

.back {
  width: 90%; /* change fixed width to a relative value */
  max-width: 600px; /* set maximum width for larger screens */
  text-align: center;
  height:auto;
  border: 2px solid;
  justify-content: center;
  text-align: center;
  margin: 1cm auto; /* center horizontally with auto left and right margin /
  padding: 1cm;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); / add a subtle box shadow */
  border-radius: 10px;
  background-color: #fafafa;
}

@media screen and (min-width: 768px) {
  /* apply styles only for screens wider than 768px */
  .wrapper {
    width: 80%;
    max-width: 500px;
  }

  .button {
    /* adjust font size and padding for larger screens */
    font-size: 1.2rem;
    padding: 12px 20px;
  }
}

@media screen and (min-width: 1024px) {
  /* apply styles only for screens wider than 1024px */
  .wrapper {
    width: 60%;
    max-width: 800px;
  }

  .button {
    /* further adjust font size and padding for even larger screens */
    font-size: 1.5rem;
    padding: 14px 24px;
  }
}
