body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  input {
    outline: none;
    font-size: 1.0rem;
    padding: 0 5px;
  }
  
  button {
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 3px 15px;
    color: white;
    line-height: 25px;
    background-color: #00bcd4;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    transition: all 150ms ease-in;
    outline: none;
  }
  
  button:hover {
    background-color: #79d7e4;
  }
  
  button.turn:hover {
    background-color: #eaeaea;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid lightgrey;
    overflow-y: scroll;
  }
  
  li {
    padding: 10px 10px 10px 10px;
  }
  
  canvas {
    display: block;
    margin: 10px auto;
  }
  
  .controls-wrapper {
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin: 20px auto;
    border: 1px solid lightgrey;
  }
  
  .chat-wrapper {
    padding: 10px;
  }
  
  .chat-wrapper form {
    display: flex;
  }
  
  .chat-wrapper form input {
    font-size: 1.0rem;
    margin: 0 10px 0 0;
    padding: 0 5px;
    flex-grow: 1;
  }
  
  .chat-wrapper form button {
    width: 80px;
  }
  
  #events {
    height: 150px;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.box {
  width: auto;
  height: 2cm;
  margin-left: auto;
  margin-right: auto;
}

/*the image should be 50% of the box*/
image {
  width: 50%;
  height: 50%; 
}

#board {
    margin-top: 1.5cm;
    height: 420px;
    width: 480px;
    background-color: rgb(129, 196, 235);
    border: 5px solid navy;
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.tile {
    height: 56px;
    width: 56px;
    margin: 5px;

    /* Circle */
    background-color: rgb(183, 226, 229);
    border-radius: 100%;
    border: 3px solid navy;
}

.red-piece {
    background-color: red;
}

.yellow-piece {
    background-color: yellow;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #dfe9f5;
}

.wrapper {
  width: 330px;
  padding: 2rem 1em;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 20 30px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
  color: #0f1114;
}

form input {
  width: 92%;
  outline: none;
  border: 1px solid #fff;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background: #e4e4e4;
}

button {
  font-size: 1rem;
  margin-top: 1.8rem;
  padding: 10px 0px;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 90%;
  color: #fff;
  cursor: pointer;
  background: rgb(17, 107, 143);
}

button:hover {
  background: rgb(17, 187, 143, 0.877);
}

input:focus {
  border: 1px solid rgb(192, 192, 192);
}

.terms {
  margin-top: 0.2rem;
}

.terms input {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  cursor: pointer;
}

.terms label {
  font-size: 0.7rem;
}

.terms a {
  color: rgb(17, 187, 143);
  text-decoration: none;
}

.member {
  margin-top: 1.4rem;
  font-size: 0.8rem;
  columns: #636363;
}

.member a {
  color: rgb(17, 107, 143);
  text-decoration: none;
}

.recover {
  text-align: right;
  font-size: 0.7rem;
  margin: 0.3rem 1.4rem 0 0;
}

.recover a {
  text-decoration: none;
  color: #464647;
}

h1 {
  text-align: center;
  padding-top: 15px;
}

.back {
  width: 600px;
  text-align: center;
  height: auto;
  border: 2px solid;
  justify-content: center;
  text-align: center;
  margin: 1cm;
  padding: 1cm;
  box-shadow: tomato;
  border-radius: 10px;
  background-color: #fafafa;
  margin-left: auto;
  margin-right: auto;
}

.button {
  height: auto;
  width: 5cm;
  background-image: url("../images/Board-image.jpg");
  background-color: #62b4e4;
  color: #1751bb;
}