body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Nunito', sans-serif;
    text-align: center;
    background-image: url(../images/sky-background.jpg);
}



button {
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 3px 15px;
    color: white;
    line-height: 25px;
    background-color: #00bcd4;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    transition: all 150ms ease-in;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid lightgrey;
}

li {
    padding: 10px 10px 10px 10px;
}


.box {
    width: auto;
    height: 2cm;
    margin-left: auto;
    margin-right: auto;
}

/*the image should be 50% of the box*/
image {
    width: 50%;
    height: 50%; 
}

#board {
    margin-top: 3cm;
    height: 420px;
    width: 480px;
    background-color: rgb(129, 196, 235);
    border: 5px solid navy;
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.tile {
    height: 56px;
    width: 56px;
    margin: 5px;

    /* Circle */
    background-color: rgb(183, 226, 229);
    border-radius: 70%;
    border: 3px solid navy;
}

.game-button {
    display: block;
    width: 100%;
    font-weight: bold;
    color: black;
    margin-right: 10px;
    text-transform: lowercase;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #DFE9F5;
    border: 1px solid #ccc;
    border-radius: 10%;
    cursor: pointer;
}

.red-piece {
    background-color: rgb(255, 0, 0);
}

.yellow-piece {
background-color: rgb(251, 255, 0);
}

.purple-piece {
background-color: rgb(128, 0, 128);
}

.green-piece {
background-color: rgb(0, 128, 0);
}

.orange-piece {
background-color: rgb(255, 165, 0);
}

.black-piece {
background-color: rgb(0, 0, 0);
}

*{
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
    color: #0f1114;
}

button:hover {
background: rgba(230, 245, 241, 0.877);
}

input:focus {
border: 1px solid rgb(192, 192, 192);
}

h1 {
    text-align: center;
    padding-top: 15px;
}


.button {
    height: auto;
    width: auto;
    text-align: center;
    text-transform: lowercase;
    background-image: url("../images/Board-image.jpg");
    background-color: #62b4e4;
    color: #1751bb;
    position: fixed;
    top: 3cm;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

/* NEW CHAT */


#line{
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0%;
  top: 27px;
  transform: skew(15deg);
  animation: moveLine 2s linear infinite alternate-reverse;
}

#line2{
  width: 27px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  right: 0%;
  top: 27px;
  transform: skew(15deg);
  animation: moveLine 2s linear infinite alternate-reverse;
}

#lineA{
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0%;
  top: 27px;
  transform: skew(15deg);
  animation: moveLine 2s linear infinite alternate-reverse;
}

#lineB{
  width: 27px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  right: 0%;
  top: 27px;
  transform: skew(15deg);
  animation: moveLine 2s linear infinite alternate-reverse;
}

@keyframes moveLine{
  0%{
      width: 0%;
  }
  100%{
      width: 50%;
  }
}

.user {
  font-weight: bold;
  margin-right: 10px;
  background-color: rgb(221, 186, 186);
}

.yy {
  background-color: #ff0000;
}

/* Switch Mode */


p {
  text-align: center;
  letter-spacing: 15px;
  background: #34495e;
  color: #FFF;
}

/* set the properties of the class switch-mode */
.switch-mode {
    position: fixed;
    top: 0,2cm;
    right: 1cm;
    padding: 10px;
}

input {
    outline: none;
    font-size: 1.0rem;
    padding: 0 5px;
}